<strong>Olá {{ organizer }}!</strong>
<p>Seu meetup {{meetup}} recebeu uma nova inscrição!</p>
<p>Confira os dados do novo participante:</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
